@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* font Class */
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

/* style */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
/* Banner */
.banner_continer {
  max-width: 858px;
  max-height: 392px;
  /* border: solid red 2px; */
  margin: 22.5px auto;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../new-year-offer-resources/images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-blend-mode: overlay;
}
.containt_b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 392px;
}
.banner_p {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.banner_heading {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 46px;
  font-weight: 900;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: center;
}

/* 65% container */
.dis_container {
  max-width: 557px;
  height: 523px;
  /* border: solid red 2px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dis_head {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 57px;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0%;
  text-align: center;
}
.dis_p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.dis_h4 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.off_img {
  max-width: 557px;
  border: 1px dashed black;
  margin: 5px;
  padding-right: 5px;
}

.off_img > img {
  width: 100%;
  margin: 5px 7px 5px 7px;
}

/* mid night party start */
.mid_night {
  max-width: 858px;
  height: 392px;
  /* border: red solid 2px; */
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../new-year-offer-resources/images/Vectorrr.png");
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: space-around;
}
.mid_content {
  width: 50%;
  padding-top: 50px;
}
.mid_content_h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 41px;
  font-weight: 900;
  line-height: 57px;
  letter-spacing: 11%;
  text-align: left;
}
.mid_content_p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.mid_img {
  width: 250px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  border: dashed 1 px white;
}
.mid_img_a {
  width: 100%;
}
.mid_button {
  display: flex;
  margin: 10px auto;
}
.btn_mid {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* date section */
.date {
  width: 858px;
  height: 300px;
  /* border: solid 2px red; */
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 78px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}

.date_con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.date_text {
  margin-top: 50px;
}
.date_con .date_text h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.date_con .date_text h3 span {
  color: rgb(255, 0, 0);
}
.date_button {
  /* Frame 1 */
  position: relative;
  width: 167px;
  height: 56px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 32px;
}
.date_button button {
  border-radius: 8px;
  background: rgb(255, 0, 0);
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
}

/* coming soon start */
.coming_soon {
  width: 858px;
  height: 300px;
  /* border: solid 2px red; */
  margin: 75px auto;
  display: flex;
  align-items: center;
}
.coming_1 {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.coming_2 {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.coming_3 {
  width: 33.33%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 25px;
}
.coming_1 h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.coming_1 h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 31px;
  font-weight: 900;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.coming_1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
}
.img_com {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 9px solid rgb(255, 0, 0);
  border-radius: 100px;
}
.coming_2 img {
  width: 70%;
  height: auto;
  /* margin-left: 40px; */
}

.coming_3 h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: left;
}

.coming_3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.coming_3 img{
  width: 90px;
  height: auto;
}